<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Question Answering App</title>
  </head>
  <body>
    <h1>chater 1.0</h1>
    <form action="/predict" method="post">
      <label for="story">Story:</label><br />
      <textarea id="story" name="story" rows="4" cols="50"></textarea><br />
      <label for="question">Question:</label><br />
      <input type="text" id="question" name="question" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
